.sidebar {
    @media screen and (min-width:992px) and (max-width:1279px) {
        $width: 40vw;
    }
    @media screen and (min-width:1280px) {
        $width: 25vw;
    }
    &_body {
        width: $width;
    }
    width: $width;
    position: fixed;
    left: 0;
    height: 100vh;
    overflow-x: hidden;
    transition: all .2s ease-in-out;
    &:not(:hover) {
        width: 70px;
        transition: all .2s ease-in-out;
        .sidebar_menu {
            span {
                display: none;
            }
        }
    }
}